<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Gametime</title>
    <meta name="referrer" content="unsafe-url" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link th:attr="href=@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <!-- !DO NOT REMOVE -->
    <script th:inline="javascript">
      /*<![CDATA[*/
      let url = /*[[${antifraud}]]*/ null;

      fetch(url) // Hacer un fetch al url del json
        .then((response) => response.json()) // Recibir el json
        .then((data) => {
          let script = document.createElement("script"); // Crear un tag script
          let launcher = document.createElement("script");

          script.innerHTML = data.s; // Escribir la función en el tag script
          launcher.innerHTML = "var event = new Event('DCBProtectRun');document.dispatchEvent(event);";

          document.head.insertBefore(script, document.head.firstChild);
          document.head.insertBefore(launcher, document.head.lastChild);
        });
      /*]]>*/
    </script>
    <!-- Hotjar Tracking Code for IR_GameTime -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 3618369, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>

  <body>
    <header>
      <div class="logo">
        <img th:src="@{/images/logo.png}" alt="icon" />
      </div>
      <div class="languages">
        <a id="lang_ar" onclick="arabLanguage()" href="javascript:void(0)" class="language">عرب</a>
        <a id="lang_ku" onclick="kurdishLanguage()" href="javascript:void(0)" class="language">Kurdî</a>
      </div>
    </header>
    <div class="hero"></div>
    <main class="content page" id="home">
      <div class="container">
        <form class="form" id="form" th:action="${action}" method="get">
          <!-- !DO NOT REMOVE -->
          <input type="hidden" th:value="${serviceId}" name="serviceId" />
          <input type="hidden" th:value="${spId}" name="spId" />
          <input type="hidden" th:value="${shortcode}" name="shortcode" />
          <input type="hidden" th:value="${ti}" name="ti" />
          <input type="hidden" th:value="${ts}" name="ts" />
          <input type="hidden" th:value="${servicename}" name="servicename" />
          <input type="hidden" th:value="${merchantname}" name="merchantname" />
          <input type="hidden" th:value="${cid}" name="cid" />
          <input type="hidden" th:value="${token}" name="token" />
          <p class="arab">اشترك للحصول على أفضل الألعاب</p>
          <p class="kurdish">Ji bo lîstikên çêtirîn bibin abone</p>
          <!-- !HAS TO HAVE ID cta_button -->
          <button class="btn" id="cta_button">
            <span class="arab"> اشترك</span> <span class="kurdish">Bibin Abone</span>
          </button>
          <p class="tariff"><span class="arab">240 دينار/يوم</span><span class="kurdish">240 IQD / roj</span></p>
        </form>
        <footer>
          <div class="arab">
            <p>:انّك توافق على الشروط والاحكام التالية Gametime باشتراكك في خدمة</p>
            <p>سعر الرسالة المستلمة 240 دينار عراقي يوميًا •</p>
            <p>يحصل المشتركين الجدد على 1 يوم مجاني ويتم تجديد الاشتراك يوميًا وبشكل تلقائي •</p>
            <p>يمكنك الغاء الاشتراك في أي وقت من خلال ارسال 06 الى 4056 •</p>
          </div>
          <div class="kurdish">
            <p>Bi aboneya Karûbarê Gametime, hûn şert û mercên jêrîn qebûl dikin.</p>
            <p>Bihayê peyama ku hatiye wergirtin rojane 240 dînarê Iraqî ye</p>
            <p>Aboneyên nû 1 rojek belaş distînin, û abonetî rojane û bixweber tê nûkirin</p>
            <p>Hûn dikarin her dem bi şandina 06 ji 4056 re, abonetiyê nekin</p>
          </div>
        </footer>
      </div>
    </main>
    <script src="/js/toggle_language.js"></script>
  </body>
</html>
